# setting your configure as 
# [Section_name]
# option1 = option1_value
# option2 = option2_value

# stm template configure
[stm_template]
tmpl_src_dir = /templates/stm/
tmpl_dst_dir = /templates/stm/
tmpl_src_file = STM_Template.xlsx
tmpl_dst_file = stm_template_v1.xltx
tmpl_sht_name = STM_TEMPLATE
tmpl_bgn_col = A
tmpl_end_col = Y
tmpl_hd_row = 2
tmpl_ft_row = 10
tmpl_adt_num = 8

# stm template format 
[stm_template_format]
merged_col_ix = 3,14
header_color = A9D08E
header_font = Calibri
header_font_size = 10
header_font_bold = Y
data_color = D6DCE4
data_font = Calibri
data_font_size = 10
data_font_bold = N
data_col_bold_ix = 21,22

[input_dirs]
stm = /input/stm/

[input_files]
stm = table_source_ulrs

[td_config]
host = td_hostname
username = user
password = password
